<!DOCTYPE html>
<html>
<head>
  <title>AhoyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- <body background="/assets/waves.jpg"> -->
	<% if flash[:alert] %>
	    <div class="flash notice">
	      <%= flash[:alert] %>
	    </div>
    <% end %>
    	<div class="nav_bar">
		<ul>
			<li>
				<div id="logo"><h2>Ahoy</h2></div>
			</li>
			<li>
				<!-- <h4><%#= @user.email%> is logged in</h4> -->
			</li>
		</ul>
	</div>
	<%=yield %>

</body>
</html>
