<!DOCTYPE html>
<html>
<head>
  <title>AhoyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<% if flash[:alert] %>
	    <div class="flash notice">
	      <%= flash[:alert] %>
	    </div>
    <% end %>
	<!-- <div id="logo">
	<h2>Ahoy</h2> -->
</div>

<h1>this is my nav</h1>
<%=yield %>
<h1>this is my footer</h1>
	
</body>
</html>
